{% extends 'gallery-single.html' %}
{% load static %}
{% block contenidoDinamico %}
<div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Sobre mi</h2>
        </div>
      </div>
    </div>
  </div>
<body>

  <p>¡Hola! Soy Ariel, un apasionado de las finanzas con un fuerte interés en el desarrollo de software. Durante el día, me dedico a explorar y potenciar el mundo de las finanzas, aprovechando mi experiencia en el campo. Sin embargo, mis momentos libres los dedico a estudiar y profundizar mis conocimientos en desarrollo de software.

    Mi meta a corto plazo es fusionar lo mejor de ambos mundos, combinar mi experiencia en finanzas con mis habilidades en desarrollo de software para explorar nuevas oportunidades y desafíos. Creo firmemente en la sinergia entre estos campos y estoy emocionado por el viaje que me espera mientras busco nuevas formas de innovar y crear valor en la intersección de estas industrias.
    
    ¡Únete a mí en este emocionante viaje hacia un futuro donde las finanzas y la tecnología convergen para crear soluciones innovadoras y transformadoras!</p>

    
</body>
  
    
{% endblock %}