{% extends 'formulario.html' %}
{% load static %}
{% block contenidoDinamico %}

<div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Registro de comentario</h2>
        </div>
      </div>
    </div>
  </div><!-- End Page Header -->

<div class= "col-md-3 mx-auto">
    <form action="{% url 'registroComentario' %}" method="POST">{% csrf_token %}
        <table>
        {{formulario.as_table}}
         </table>
        <input type="submit" value="Enviar">
    </form>
</div>

{% endblock %}