{% extends 'gallery-single.html' %}
{% load static %}
{% block contenidoDinamico %}
<div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Listado de comentarios</h2>
        </div>
      </div>
    </div>
  </div>

    {% for u in comentarios %}
    <li>
    <th> {{u.asunto}} </th> -
    <th> {{u.texto}} </th> -
    <th> {{u.fecha}}</th>
    </li>
    <a href="{% url 'eliminarComentario' u.asunto %}">Eliminar publicacion</a> 
    {% endfor %}
    
{% endblock %}