{% extends 'gallery-single.html' %}
{% load static %}
{% block contenidoDinamico %}
<div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Listado de Publicaciones</h2>
        </div>
      </div>
    </div>
  </div>

    {% for u in publicaciones %}
    <li>
    <th> Titulo: {{u.titulo}} </th> -
    <th> <img src="{{ u.imagen.url }}" style="max-width: 200px; max-height: 150px;"></th>
    <th> Fecha: {{u.fecha}} </th>
    </li><a href="{% url 'eliminarPublicacion' u.titulo %}">Eliminar publicacion</a> 
         <a href="{% url 'editarPublicacion' u.titulo %}">Editar</a>
    {% endfor %}
    
{% endblock %}