{% extends 'gallery-single.html' %}
{% load static %}
{% block contenidoDinamico %}
<div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Listado de usuarios</h2>
        </div>
      </div>
    </div>
  </div>

    {% for user in usuarios %}
    <li>
    <th> {{user.username}} </th>
    <th> {{user.email}}</th>
    </li> <a href="{% url 'eliminarUsuario' user %}">Eliminar Usuario</a> 
    {% endfor %}
<body>
  <a href="{% url 'registrar' %}">AGREGAR USUARIO</a>
    
</body>
  
    
{% endblock %}